main {
  height: 90vh;
}

.chatMessageField {
  height: 85vh;
  background-color: rgb(168, 187, 187);
  display: flex;
}

.chatField {
  width:15%;
  min-width: 150px;
  background-color: #C0C0C0;
  height: 100%;
  border-right: 1px solid rgb(102, 100, 100);
}
.messageField {
  width: 85%;
  min-width: 300px;
  overflow-y: auto;
}

.inputField {
  height: 5vh;
}

