main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #a8bbbb;
}
.profile__text {
  font-size: 20px;
  color: #54478b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}
.show_name_text {
  margin-right: 3px;
}
.show_name_label {
  cursor: pointer;
}
.show_name_wrapper {
  padding: 8px;
  font-size: calc(8px + 2vmin);
}
.show_name_name {
  color: #54478b;
}
.paragraph_change_name{
  display: flex;
  align-items: flex-end;
  margin-top: 2px;
}
.input_name_field {
  height: 25px;
  padding: 0 3px;
  line-height: 23px;
  font-size: 16px;
  width: 130px;
  margin: 0 5px;
}
.button_name_change {
  height: 25px;
  width: 130px;
  font-size: 16px;
  border-radius: 5px;
}
.button_name_change:hover{
  background-color: #c3e7d4;
}

.button_name_change:active {
 background-color: #304646;
 color: #fff;
}